* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#p5 canvas {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: -1;
}

#move-area {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  pointer-events: none;
}
header {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 12;
  pointer-events: all;
  right: 0;

  width: max-content;
  background-color: rgba(100, 200, 255, 0.5);
  padding: 2rem;
}
#drop-left {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 15%;
  z-index: 12;
}
#drop-left header{
  position: relative;
  height: 100%;
  left: 0;
}
#drop-right {
  position: fixed;
  pointer-events: none;
  top: 0;
  right: 0;
  height: 100%;
  width: 15%;
  z-index: 12;
}
#drop-right header{
  position: relative;
  height: 100%;
  right: 0;
}
#drop-top {
  position: fixed;
  pointer-events: none;
  top: 0;
  right: 0;
  height: 15%;
  width: 100%;
  z-index: 12;
}
#drop-top header{
  position: relative;
  display: inline;
  height: 15%;
  width: 100%;
  right: 0;
}
#drop-bottom {
  position: fixed;
  pointer-events: none;
  bottom: 0;
  right: 0;
  height: 15%;
  width: 100%;
  z-index: 12;
}
#drop-bottom header{
  position: relative;
  display: inline;
  height: 15%;
  width: 100%;
  right: 0;
}


button {
  padding: 0.75rem;
  font-size: 1rem;
  margin: 0.5rem;
  border-bottom: solid 3px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 5px;
  background-color: rgba(50, 100, 255, 0.5);
  color: rgb(235, 235, 235);
  user-select: none;
}

button:hover {
  border-bottom: solid 1px;
  border-top: solid 2px rgba(255, 255, 255, 0.0);
  border-left: none;
  border-right: none;
  cursor: pointer;
}
.dragger {
  position: absolute;
  top: 1rem;
  justify-self: center;
  height: 9px;
  width: 50%;
}
.dragger span {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: rgba(255,255,255,0.2);
  border-radius: 2px;
}
.dragger span:nth-child(1) {
  top: 0;
}
.dragger span:nth-child(2) {
  top: 5px;
}